<%- include('partials/header'); %>
<h1><%= title%></h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input type="text" class="form-control" name="postTitle" id="postTitle" placeholder="Write a title..." />
    <label for="postBody">Post</label>
    <textarea class="form-control" name="postBody" id="postBody" rows="8" placeholder="Write your post content here..."></textarea> 
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </div>
</form>
<%- include('partials/footer'); %>
